@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.primary_dark {
  color: "#1A227D";
}
.primary_medium {
  color: "#4339F2";
}
.primary {
  color: "#0E84ED";
}
.successful {
  color: "#99D045";
}
.reject {
  color: "#FA3E3E";
}
.pending {
  color: "#E6A000";
}
.black {
  color: "#1E1E1E";
}
.grey {
  color: "#4B4B4B";
}

.white {
  color: "#FFFFFF";
}

.h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 125%;
}
.h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
}
.h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
}
.h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
}
.h5 {
  font-weight: 600;
  font-size: 14px;
  line-height: 125%;
}
.p1-r {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}
.p1-b {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
}
.p2-r {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}
.p2-b {
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
}
.p3-r {
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
}
.p3-b {
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
}
.l1-r {
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
}
.l1-b {
  font-weight: bold;
  font-size: 16px;
  line-height: 125%;
}
.l2-r {
  font-weight: normal;
  font-size: 14px;
  line-height: 125%;
}
.l2-b {
  font-weight: bold;
  font-size: 14px;
  line-height: 125%;
}
.l3-r {
  font-weight: normal;
  font-size: 12px;
  line-height: 125%;
}
.l3-b {
  font-weight: bold;
  font-size: 12px;
  line-height: 125%;
}
